.preview-wrapper {
  position: relative;
  height: 100%;
  flex-grow: 1;
  border: solid 0.01rem rgb(211, 208, 208);
  margin: 2px 2px;
}

.preview-wrapper iframe {
  height: 100%;
  width: 100%;
}

.bundle-error {
  position: absolute;
  top: 10px;
  left: 10px;
  color: red;
}
.react-draggable-transparent-selection .preview-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}
